@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .page-content {
}

.page-content-home {
}

.background-image-home {
}

.page-content-about {
}

.content-header {
} */

.normal-line-height > * {
  line-height: 1.6 !important;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
}

* {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

p {
  margin: 1em auto;
}

ul > li,
ol > li {
  margin-right: 1em;
}

ul > li {
  list-style-type: disc;
}

ol > li {
  list-style-type: decimal;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(90deg, #ffd700 0%, #ffd700 100%);
  transform-origin: 0%;
}

.gold-effect-text {
  background: linear-gradient(
    45deg,
    #ffd700,
    /* Bright gold */ #ffecb3,
    /* Lighter gold */ #cfa75e,
    /* Medium gold */ #b88d42,
    /* Darker gold */ #ffd700 /* Bright gold */
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'Playfair Display', serif;
  position: relative;
  text-transform: uppercase;
  margin: 0;

  /* Shiny Animation */
  animation: gold-shine-text 5s infinite linear;
  background-size: 300% 300%; /* Enhance the movement effect */
}

.gold-effect-text::after {
  background: none;
  content: attr(data-heading);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffecb3,
    5px 5px 15px rgba(0, 0, 0, 0.4), -5px -5px 15px rgba(0, 0, 0, 0.4);
  opacity: 1; /* Make the shadow more prominent */
}

/* Keyframes for the shiny text animation */
@keyframes gold-shine-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gold-effect-border {
  /* Border settings */
  border: 10px solid transparent; /* Border width */
  border-radius: 10px; /* Optional: for rounded corners */
  
  /* Shiny Gold Gradient Border */
  border-image: radial-gradient(circle, 
    #f5d76e,  /* Light gold */
    #f7e398,  /* Lighter gold for a reflective effect */
    #cfa75e,  /* Medium gold */
    #b88d42,  /* Darker gold for depth */
    #ffecb3,  /* Lighter gold for highlights */
    #f5d76e,  /* Light gold */
    #a77c38   /* Deep gold for the outer edge */
  ) 1 round;

  /* Shiny Border Animation */
  animation: gold-shine-border 5s infinite linear;
  position: relative;
}

.gold-effect-border::before {
  content: '';
  position: absolute;
  top: -20px; left: -20px; right: -20px; bottom: -20px;
  border-radius: inherit;
  z-index: -1; /* Place behind the element */
  background: radial-gradient(circle, 
    #f5d76e, #f7e398, #cfa75e, #b88d42, #ffecb3, #f5d76e, #a77c38);
  filter: blur(40px); /* Increased blur for a thicker shadow */
  animation: gold-shine-shadow 5s infinite linear;
}

/* Keyframes for the shiny border animation */
@keyframes gold-shine-border {
  0% {
    border-image-source: radial-gradient(circle, 
      #f5d76e, #f7e398, #cfa75e, #b88d42, #ffecb3, #f5d76e, #a77c38);
  }
  50% {
    border-image-source: radial-gradient(circle, 
      #a77c38, #f5d76e, #ffecb3, #b88d42, #cfa75e, #f7e398, #f5d76e);
  }
  100% {
    border-image-source: radial-gradient(circle, 
      #f5d76e, #f7e398, #cfa75e, #b88d42, #ffecb3, #f5d76e, #a77c38);
  }
}

/* Keyframes for the shiny shadow animation */
@keyframes gold-shine-shadow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
